# Cluster Info

CPD_CLUSTER_HOST=<Base Url of Environment Cluster>

# Data producer information
USERNAME=<Data Producer Username>
PASSWORD=<Data Producer Password>


# Landing Zone information
CATALOG_NAME=<Catalog Name>
PROJECT_ID=<PROJECT_ID>

#Add Connection info below
